$themes: (
		darkTheme: (
				"text-color": white,
				"title-color": white,
				"nav-text-color": white,
				"bg-color": #222,
				"bg-url": 'background-light.png',
		),
		lightTheme: (
				"text-color": white,
				"title-color": #7E79FF,
				"nav-text-color": #7E79FF,
				"bg-color": white,
				"bg-url": 'background-light.png',
		),
);

$theme-map: null !global;

// Mixin used to get css properties for theming.
@mixin theme() {
  @each $theme, $map in $themes {
	$theme-map: $map !global;

	.#{$theme} & {
	  @content;
	}
  }
  $theme-map: null !global;
}

// Function to get property from used theme.
@function theme-get($key) {
  @return map-get($theme-map, $key);
}
